.new-site-button {
    -fx-min-width: 150px;
    -fx-min-height: 30px;
    -fx-max-width: 150px;
    -fx-max-height: 30px;
    -fx-font-size: 16px;
    -fx-text-fill: white;
    -fx-background-color: #0096FF;
    -fx-cursor: hand;
    -fx-alignment: center;
    -fx-padding: 0;
}

.new-site-button:hover {
    -fx-background-color: white;
    -fx-text-fill: #0096FF;
    -fx-border-color: #0096FF;
}

.scroll-pane {
    -fx-background-color: transparent;
}

.scroll-pane .viewport {
    -fx-background-color: white;
}

#credentialsVBox {
    -fx-background-color: white;
}